<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="particle.joeypak">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:name=".JoeyPakApplication"
            android:theme="@style/AppTheme">
        <activity android:name=".Activities.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity"/>
        <activity android:name=".Activities.LandingActivity"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="JoeyPak" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>